nav {
    margin-top: 10px;
    color: white;
}

#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: red /* Background color of the navigation bar */
}

h1{
    color: red;
}

#menu li{
    float: left;
}

#menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}